footer {
  color: var(--color-text-footer);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  background-color: #1a1d25;
  min-height: 406px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 80px 0 40px;
  margin: 80px 264px 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.footer-list {
  list-style: none;
}

.footer-list a {
  text-decoration: none;
  color: var(--color-text-footer);
}

.footer-bottom__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 32px 264px;
}

.footer-logo__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
}
