header {
  background-color: var(--color-bg-blue);
  /* margin-bottom: 63px; */
}
.header_top_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 100px;
  margin: 0 264px;
  max-width: 1920px;
  align-items: center;
}

.header_logo {
  margin-right: 280px;
}

.header_menu {
  list-style: none;
  display: flex;
  gap: 32px;
}

.menu_list {
  color: var(--color-text-menu);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.menu_list a {
  text-decoration: none;
  color: var(--color-text-menu);
  cursor: pointer;
}

a:hover {
  color: var(--color-text-white);
}
