/* @media (max-width: 1780px) {
  .main-screen_img img {
    width: 980px;
  }
}

@media (max-width: 1700px) {
  .main-screen_img img {
    width: 900px;
  }
} */

@media (max-width: 1700px) {
  .finio-image_wrapper {
    max-width: 1000px;
    max-height: 627px;
    position: absolute;
    right: 0%;
    z-index: 1;
  }
}

@media (max-width: 1400px) {
  .finio-image_wrapper {
    max-width: 900px;
    right: 0%;
  }
}

@media (max-width: 1280px) {
  .finio-image_wrapper {
    max-width: 800px;
    right: 0%;
  }
}

@media (max-width: 1200px) {
  .finio-image_wrapper {
    display: none;
  }
  .main-screen-bottom__wrapper {
    position: static;
  }
}

@media (max-width: 375px) {
  .main-container {
    max-width: 375px;
    margin: 0 auto;
  }
  .header_menu {
    display: none;
  }
  .header-button {
    display: none;
  }
  .header-button-mobile {
    display: block;
  }
  header {
    padding: 24px 24px;
    border-bottom: 1px solid var(--color-border-mobile);
  }
  .header__wrapper {
    max-width: 328px;
  }
  .main-screen {
    margin: 0;
    padding-bottom: 100px;
  }
  .main-screen_heading {
    max-width: 328px;
    font-size: 32px;
    margin-bottom: 32px;
  }
  .main-screen-top__left {
    max-width: 328px;
    margin: 0 auto;
    padding-bottom: 140px;
  }
  .main-screen_button {
    margin-bottom: 50px;
  }
  .partners-logos {
    max-width: 264px;
  }
  .main-screen-bottom__wrapper {
    max-width: 328px;
    margin: 0 auto;
  }
  .main-screen-bottom_icons {
    position: static;
    flex-direction: column;
    gap: 32px;
    /* margin: 30px 24px 0; */
  }
  .main-screen_icon {
    font-size: 18px;
    line-height: 140%; /* 25.2px */
  }
  .section {
    max-width: 328px;
  }
  .section-1 {
    padding-top: 50px;
  }
  .section-1-text-left {
    margin-left: 0;
  }
  .section-header {
    font-size: 32px;
  }

  .section-block__wrapper {
    flex-direction: column;
    gap: 32px;
    margin-bottom: 40px;
  }
  .section-block__wrapper-right {
    display: flex;
    flex-direction: column-reverse;
  }
  .section-block__wrapper-last {
    padding: 0;
  }
  .section-blue {
    padding: 60px 0 60px;
  }
  .section-2-header {
    font-size: 36px;
  }
  .section-2-text {
    text-align: left;
    margin-bottom: 32px;
  }
  .section-2-button {
    margin-bottom: 50px;
  }
  .section-2-img {
    margin-bottom: 50px;
  }
  .section-2-compare {
    flex-direction: column;
    gap: 50px;
    max-width: 328px;
    margin: 0 auto;
  }
  .section-3 {
    padding: 60px 0 60px;
  }
  .section-3__wrapper {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .section-3-headers {
    font-size: 24px;
  }
  .section-4 {
    padding-top: 60px;
  }
  .section-headers {
    font-size: 36px;
  }
  #section-4-img {
    margin-top: 12px;
    width: 200%;
    transform: translateX(25%);
  }
  .section-4-support {
    flex-direction: column-reverse;
    max-height: none;
    border-radius: 0;
    padding: 0 24px;
  }
  .section-4-header__white {
    margin-top: 60px;
  }
  .section-4-contacts__wrapper {
    margin-bottom: 30px;
  }
  .section-4-text {
    margin: 0;
  }
  .section-4-support-img {
    margin-left: 0;
  }
  .section-5 {
    max-width: 328px;
    margin: 0 auto;
  }
  .prices-h2 {
    text-align: left;
  }
  p.section-p-grey.section-align-center {
    text-align: left;
  }
  .price__wrapper {
    padding-top: 32px;
    grid-template-columns: 1fr;
    padding-bottom: 60px;
  }

  .price {
    padding: 48px 24px;
  }
  .section-6 {
    max-width: 328px;
    margin: 0 auto;
  }

  h2.section-headers.section-headers {
    text-align: left;
  }

  .footer__wrapper {
    flex-direction: column;
    gap: 40px;
    max-width: 328px;
    margin: 0 auto;
  }
  .footer-bottom__wrapper {
    flex-direction: column-reverse;
    gap: 30px;
    max-width: 328px;
    margin: 0 auto;
  }
  #footer-banks {
    max-width: 254px;
  }
}
