:root {
  --color-h2: #000;
  --color-text: rgba(78, 93, 124, 0.5);
  --color-text-white: #fff;
  --color-text-prices: #4e5d7c;

  --color-bg-blue: #357efe;
  --color-br-orange: #ffc736;
  --color-br-white: #ffffff;
  --color-bg-discount: #1abc9c;

  --border-8: 8px;
  --border-67: 67px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Inter", sans-serif;
}
body {
  background-color: antiquewhite;
}

.prices-h2 {
  color: var(--color-h2);
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
  margin-bottom: 24px;
}

.prices-p {
  color: var(--color-text);
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 23.8px */
  margin-bottom: 40px;
}

.price__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-columns: 369px 369px 369px; */
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
  gap: 24px;
  margin: 0 auto;
  max-width: 1200px;
}

.price {
  border-radius: var(--border-8);
  max-width: 369px;
  /* max-height: 507px; */
  background-color: var(--color-br-white);
  color: var(--color-text-prices);
  padding: 48px 40px;
  box-shadow: 0px 0px 32px rgba(78, 93, 124, 0.32);
}

.price-3 {
  background-color: var(--color-bg-blue);
}

.price-discount-value-item-1 {
  visibility: hidden;
}

.price-discount-value {
  display: inline-block;
  color: var(--color-text-white);
  background-color: var(--color-bg-discount);
  padding: 4px 16px;
  border-radius: var(--border-8);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 16px;
}

.price-discount-value span {
  font-weight: 800;
}

.hidden-element {
  display: none;
}

.price-duration-black-item-1 {
  /* margin-top: 93px; */
}

.price-duration-black {
  color: var(--color-h2);
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.price-duration {
  color: var(--color-text-white);
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  margin-bottom: 16px;
}

.price-for-who {
  color: rgba(255, 255, 255, 0.6);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  max-height: 72px;
}

.price-for-who-items-1-2 {
  color: rgba(78, 93, 124, 0.5);
  font-size: 17px;
  margin-bottom: 32px;
  max-height: 72px;
}

.price-bullet-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}

.price-bullet-wrapper-black {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 1px solid rgba(78, 93, 124, 0.08);
}

.price-bullet-wrapper-last {
  display: flex;
  justify-content: space-between;
  padding: 16px 0 32px;
}

.price-bullet {
  color: var(--color-text-white);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-align: left;
  max-width: 168px;
}

.price-bullet-black {
  color: var(--color-text-prices);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-align: left;
}

.price-bullet span {
  font-weight: 700;
  padding: 8px 16px;
  background-color: var(--color-br-orange);
  border-radius: var(--border-8);
  justify-self: left;
  max-height: 36px;
  white-space: nowrap;
}

.price-bullet-right {
  display: flex;
  justify-content: center;
}

.price-button {
  color: var(--color-bg-blue);
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 800;
  line-height: 140%;
  padding: 12px 63px;
  border-radius: var(--border-67);
  border: none;
}

.price-button-blue {
  color: var(--color-text-white);
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 800;
  line-height: 140%;
  padding: 12px 63px;
  border-radius: var(--border-67);
  border: none;
  background-color: var(--color-bg-blue);
}
