/* * {
	margin: 0;
	padding: 0;
} */

body {
	background-color: rgba(55, 65, 81, 1);
	/* padding: 0 180px 0 180px; */
	margin: 0 180px 0 180px;
	font-family: 'Roboto', sans-serif;;
	justify-content: center;
    align-items: center;
}

header {
	margin: 80px 0 70px 0;
	display: flex;
	height: 40px;
	width: 100%;
}

header a {
	color: #FFFFFF;
	font-weight: 400;
	font-size: 16px;
	text-decoration: none;
}

header input {
	height: 40px;
	width: 224px;
	border: none;
	border-radius: 100px;
	padding-left: 50px;
	background-color: rgba(31, 41, 55, 0.6);
}

h1 {
	color: #FFFFFF;
	font-weight: 400;
	font-size: 24px;
	line-height: 38px;
	word-wrap: break-word;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 30px;
}

p {
	color: #FFFFFF;
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
}

section {
	margin-bottom: 100px;
}

footer {
	color: rgba(255, 255, 255, 0.6);
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	text-align: center;
}

.menu {
	display: flex;
	list-style-type: none;
	gap: 40px;
	align-items: center;
	height: 40px;
	margin: 0;
	margin-right: 20px;
	min-width: 205px;
}

.logo-B {
	width: 35px;
	height: 35px;
	font-family: 'Source Sans Pro';
	font-weight: 600;
	background-color: #4B5563;
	display: flex;
	align-items: center; /* Выравниваем текст по вертикали */
	justify-content: center; /* Выравниваем текст по горизонтали */
	margin-right: 5px;
}

.menu-list {
	display: flex;
	gap: 40px;
}

.logo {
	font-size: 18px;
	display: flex; 
	align-items: center;
	min-width: 120px;
	/* 115 + margin */
}

.search {
	margin-left: auto;
	position: relative;
}

.search img {
	position: absolute;
	top: 14px;
	left: 18px;
	height: 14px;
	width: 14px;
}

.date {
	color: rgba(255, 255, 255, 0.6);
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 14px;
	display: flex;
	gap: 12px;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.date-img {
	display: flex;
	width: 4px;
	height: 4px;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 50%; 
}

.author-info {
	display: flex;
	align-items: center; /* Выравниваем элементы по вертикали */
	justify-content: center;
	margin-bottom: 28px;
  }
  
  .author-info img {
	width: 50px; 
	height: 50px; 
	margin-right: 10px;
  }
  
  .author-text {
	display: flex;
	flex-direction: column; /* Размещаем текст вертикально */
  }
  
  .author {
	color: #FFFFFF;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
  }
  
  .author_title {
	color: rgba(255, 255, 255, 0.6);
	font-weight: 400;
	font-size: 14px;
	line-height: 28px;
  }
  

.main-img {
	border-radius: 5px;
	margin-bottom: 69px;
	text-align: center;
}

.firstP {
	color: #FFFFFF;
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	margin: 0;
}

/*  все ломается
#seacrh {
	height: 40px;
	width: 224px;
	border: none;
	border-radius: 100px;
	padding-left: 50px;
	background-color: rgba(31, 41, 55, 0.6);
} */